/* PHASE 0: Sidebar */

.content .profile-picture{
    display: block;
    margin-top: -100px;
    border: 1px solid black;
    width: 185px;
    background-color: black;
    position: relative;
    border-radius: 11px;
}

.content .profile-picture img{
    
    border-radius: 10px;
    height: 110%;
}

.content-sidebar h2{
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16pt;
    
}

.content-sidebar{
    width: 190px;
}

.profile-nav{
    display: flex;
    flex-direction: column;
    font-weight: 900;
}

.profile-nav a:hover{
    background-color: rgb(236, 236, 236);
}

.profile-info{
    font-size: 10pt;
    margin-bottom: 20px;
}

.profile-nav a{
    border-top: 1px solid lightgray;
    font-size: 11pt;
    
}

.profile-nav :last-child{
    border-bottom: 1px solid lightgray;
}

