/* PHASE 2: Thumbs */

.thumb{
    display: flex;
    margin-top: 15px;
}

.thumb li img{
    width: 55px;
    border: 3px solid black;
    border-radius: 5px;
    
}

.thumb li:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}
