/* PHASE 2: Thumbs */

.thumb{
    display: flex;
    
}

.thumb li img{
    width: 55px;
    border: 1px solid black;
    background-color: black;
    border-radius: 11px;
}

.thumb{
    margin-top: 10px;
}

.thumb li:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}

.th::before,
.th-one::before,
.th-two::before{
    content: '';
    display: none;
    position: absoulute;
    left: 50%;
    top: -7px;
    border-top: 5px solid #000;
    border-bottom: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.th-one::after{
    content: attr(title);
    display: none;
    position: absolute;
    bottom: 312px;
    transform: translateX(-10%);
    background: black;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.th-two::after{
    content: attr(title);
    display: none;
    position: absolute;
    bottom: 284px;
    transform: translateX(-10%);
    background: black;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.th:hover::before,
.th-one:hover::before,
.th-two:hover::before,
.th-one:hover::after,
.th-two:hover::after{
    display: block;
}

